<ion-header>
  <ion-navbar>
    <ion-title>
      <img id="backButton" src="../../assets/imgs/back.png" alt="back" (click)="goBack()">
      Medicitas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="body">
  <p>Citas en tiempo real</p>
  <div id="timeTable">
    <ng-container *ngFor='let finishedAppointment of appointments'>
        <p class="finishedAppointment" *ngIf='finishedAppointment.finished == 1'>{{finishedAppointment.time}}</p>
    </ng-container>
    <ng-container *ngFor='let remainingAppointment of appointments'>
        <p class="remainingAppointment" *ngIf='remainingAppointment.finished == 0 && isToday(remainingAppointment.date)'>{{remainingAppointment.time}}</p>
    </ng-container>
  </div>
    <p>Tu cita tiene aproximadamente 20 minutos de retraso</p>
</ion-content>
